# Build folders
build/
# Python cache files
**/__pycache__/
# Temporary build assets
Tools/module_config/__pycache__/
Tools/msg/__pycache__/
Tools/px4airframes/__pycache__/
Tools/px4events/__pycache__/
src/lib/heatshrink/__pycache__/
src/lib/parameters/px4params/__pycache__/
